body{
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    line-height: 1;
    padding: 7px;
    max-width: 960px;
}

.horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}